{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1 style=" font-family: 'Comic Sans MS'; margin: 0; padding: 0; text-align: center; position: absolute;
        top: 33%; left: 50%; transform: translateX(-50%) translateY(-50%);">About</h1>
    <p style=" font-family: 'Comic Sans MS'; color: #1f497d; margin: 0; padding: 0; text-align: center; position: absolute;
        top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); ">This is for university students facing
        stress and deadlines, our Student Wellness & Success Companion provides GPA forecasting, mental wellness support,
        and academic planning—all in one interactive platform. Unlike traditional advising, it actively predicts student
        performance, visually maps academic paths, and delivers real-time wellness insights for measurable success.
        It solves the problem of students facing stress, burnout, and academic prioritization struggles. 
        <a href="/">Home</a></p>
    <p style=" font-family: 'Comic Sans MS'; color: #1f497d; margin: 0; padding: 0; text-align: center; position: absolute;
        top: 70%; left: 50%; transform: translateX(-50%) translateY(-50%); font-size: 5rem "> 👁️‍🗨️🎯♥️</p>
{% endblock %}